.color-fondo{
    background-color: darkolivegreen;
    margin: 0;
    padding: 0;
}

.color-fondo3{
    background-image:linear-gradient( darkolivegreen,black, black);
    margin: 0;
    padding: 0;
}

.color-menu{
    background-image: linear-gradient(to right, green, rgba(53, 75, 148, 0.356));
}

.color-fondo2{
    background-color: black;
    height: 120px;
    margin: 0;
    padding: 0;
}

video{
    border: 3px black solid;
}